.drop-zone {
  height: 100vh;
  box-sizing: border-box;
  padding-top: 5%;
}

.drop-zone-over {
  border: black 10px dashed;
}

img {
  display: block;
  width: 300px;
  margin: auto;
  box-shadow: 1px 1px 20px 10px black;

  pointer-events: none;
}
